.carte {
    background-size: cover;
    height: 23vw;
}
.carteclose{
  color: grey;
  float: right;
  padding-bottom: 20px;
  font-size: 15px;
}
.cartediv {
    position: relative;
}
.click{
  cursor: pointer;
}
