.carte {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;;
}
.carteclose{
  color: grey;
  float: right;
  padding-bottom: 20px;
  font-size: 12px;
}
.cartediv {
    position: relative;
}
.click{
  cursor: pointer;
}
