<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center keepics-logo">KEEPICS</a>
            <ul class="right hide-on-med-and-down ">
                <li ui-sref-active="active"><a ui-sref="anon.home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="anon.register">Register</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <div class="background_sidenav">
                        <img src="/../img/logo_orange.png" alt="">
                    </div>
                </li>
                <li ui-sref-active="active"><a ui-sref="anon.home">Home</a></li>
                <div class="divider divider_sidebar"></div>
                <li ui-sref-active="active"><a ui-sref="anon.register">Register</a></li>
                <div class="divider divider_sidebar"></div>
            </ul>
        </div>
    </nav>
</div>
