<div class="home-container">
    <div class="profile_container">
        <img class="profile_img" src="../../img/grumpy_vador.png" alt="">
        <div class="profile_title">
            <p><span style="color:red">{{user.name}}</span></b> 's Pics</p>
        </div>
    </div>
    <div class="container-fluid home">
        <div class="row">
            <div class=" col s12 m4 l2 card sticky-action home-carte" ng-repeat="picture in user.pictures track by $index">
                <div class="card-image waves-effect waves-block waves-light ">
                    <img class="activator carte" style="background-image:url({{picture.url}})">
                </div>
                <div class="card-action">
                    <span class="card-title activator grey-text text-darken-4">{{picture.picname}}<i class="material-icons right">more_vert</i></span>
                    <p><a class="click" ng-click="openLink($index)">Lien vers l'image</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{picture.picname}}<i class="material-icons right">close</i></span>
                    <p>{{picture.description}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
