<div class="home-container container-fluid">
    <div class="profile_container row ">
        <div class="col s12">
            <img class="profile_img center-align" src="../../img/grumpy_vador.png" alt="">
            <div class="profile_title center-align">
                <p><span style="color:teal">{{user.name}}</span></b> 's Pics</p>
            </div>
        </div>
    </div>
    <div class="container-fluid home">
        <div class="picontainer">
            <div class="row">
                <div class=" col s12 m6 l4 xl2 card sticky-action home-carte" ng-repeat="picture in user.pictures track by $index">
                    <div class="card-image waves-effect waves-block waves-light ">
                        <img class="carte" style="background-image:url({{picture.url}})" data-target="{{picture.url}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                        <span><i class="material-icons right click" ng-click="openLink($index)">link</i></span>
                    </div>
                    <div class="card-content">
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{picture.picname}}<i class="material-icons right">close</i></span>
                        <p>{{picture.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
