<div class="container register_container">
    <div class="row">
        <div class="offset-m3 col m6">
            <h2 class="center-align">Register</h2>
            <h3 class="center-align">Keep an eye on your favorite webPics !</h3>
            <div class="row">
                <form class="col s12 form" name="loginForm" novalidate ng-submit="register()">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate" ng-model="user.name" required>
                            <label for="name">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" ng-model="user.email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pass" type="password" class="validate" ng-model="user.password" required>
                            <label for="pass">Password</label>
                        </div>
                        <div class="row">
                        <div class="col offset-s4 s4 m12">
                            <p class="center-align">
                                <button class="btn btn-large waves-effect waves-light orange" type="submit" name="action">Register</button>
                            </p>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
