<div class="home-container container-fluid">
    <div class="container">
        <div class="row">
            <div class="col s12  home-text">
                <p> Click on the <b><span style="color:red">RED</span></b> button to <del><i>destroy the World</i></del> add a new pic on your board...</p>
            </div>
            <div class="row">
                <div class=" col s12 home-boutons">
                    <a class="btn-floating btn-large waves-effect waves-light red" data-target="modal1"><i class="material-icons">add</i></a>
                    <a class="waves-effect waves-light btn" ng-click="copyLink()"><i class="material-icons left">share</i>share with friends</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container home">
