<nav>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down ">
            <li ui-sref-active="active"><a ui-sref="user.home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="user.profile" ng-show="auth.isAuthenticated()">Profile</a></li>
            <li ui-sref-active="active"><a ui-sref="user.agenda">Agenda</a></li>
            <li ui-sref-active="active"><a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()">Dashboard</a></li>
            <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'>Logout</a></li>
        </ul>
    </div>
</nav>
